[defaults]
inventory = inventory/hosts.yml
roles_path = roles
remote_user = root
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
timeout = 30

[privilege_escalation]
become = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
